.Dver__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: cover;
  height: 100%;
}
.Box {
  background-color: rgba(214, 204, 218, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  height: 90%;
  width: 60%;
  margin: 25px 0 0 0;
}
.H1 {
  margin: 50px;
}
.Text__ip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  width: 100%;
}
.Btn__back {
  position: absolute;
  top: 15px;
  left: 15px;
}
.confirm {
  display: flex;
  margin: 25px 0 0 0;
}

.T {
  height: 350px;
  width: 500px;
}
.back__01 {
  margin: 0 0 0 20px;
}
.input__margin {
  width: 60%;
  margin: 15px 0 0 0;
}
.input__margin_1 {
  width: 100%;
}

.time__box {
  width: 100%;
  display: flex;
  gap: 20px;
}
.date__box {
  display: flex;
  width: 60%;
  gap: 20px;
}
.date__box_1{
  width: 100%;
  display: flex;
  gap: 20px;
}
.input__margint {
  display: flex;
}
.P {
  margin: 40px 0 0 0;
}
@media only screen and (max-device-width: 480px) {
  .Box {
    background-color: rgba(214, 204, 218, 0.781);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: 80%;
    width: 350px;
  }
  .date__box {
    display: contents;
  }
}
