.profile__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 100%;
  padding: 25px 0 0 0;
  
}
.profile__page > h1{
  margin: 25px 0 0 0;
}

.profile__page > img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-position: center;
  
}

.table__container > table,
th,
td {
  border: 1.5px solid black;
}
.table__right > p {
  font-size: 26px;
  text-align: center;
  
}
.name__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 40%;
  background-color: rgb(255, 255, 255);
  font-size: 26px;
  border-radius: 12px;
  opacity: 0.8;
}
.Login {
  
  align-items: center;
  text-align: center;
}
.Box__Admin {
  background-color: rgba(245, 245, 245, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 50%;
  margin: 5% 0 0 0;
  border: 1px solid rgba(105, 104, 104, 0.2); /* เพิ่มเส้นขอบสีเทาจางๆ */
  border-radius: 12px; /* ทำให้มุมขอบโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้ดูมีมิติ */
}
.BOX {
  max-width: 95%;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(215, 243, 250, 0.781);
  border-radius: 8px;
  overflow-x: auto; 
  overflow-y: hidden;
}
.header__container h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #2c3e50;
  margin: 0;
}

.Cl{
  margin: 25px 0 0 0;
}
@media only screen and (max-device-width: 480px){
  .Box__Admin{
    background-color: rgba(214, 204, 218, 0.781);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: 50%;
    width: 350px;
    margin: 15% 0 0 0; 
  }
}

